/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: 'IBM Plex mono';
  --accent-color: #db00ff;
  --content-text-color: #f1b2ce;
  --accent-text-color: #000028;
  --heading-color: #db00ff;
  --font-size: 18px;
  --line-height: 1.3;
}